.navbar{
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.logo{
  flex-basis: 1;
  margin: 10px;
}
.btn{

  flex-basis: 1;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  

}
.reg{
  flex-basis: 1;
  margin-right: 20px;
}
.log{
  flex-basis: 1;
  
}
a{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}